

.loginBtn {
    background-color: #008700;
    width: 80px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 4px;
}

.signupBtn {
    background-color: white;
    width: 80px;
    height: 40px;
    color: #0f0f0f;
    border: none;
    border-radius: 4px;
}